.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    text-decoration: underline;
}   

.head {
    width: 90%;
}

.tableDiv {
    display: flex;
    flex-direction: column;
    margin: 3em 0;
    background-color: white;
    padding: 0 1em 1em 1em;
}

.organizationTable {
    width: 100%;
    text-align:left;
    border: 2px solid #D9D9D9;
    border-collapse: collapse; 
}

.organizationTable th {
    padding: 0.5em;
    font-family: "Noto Serif";
    background-color: #e5e5e5;
}

.organizationTable td {
    padding: 0.5em;
    width: 12.5%;
    font-family: 'Open Sans', sans-serif;
}

.tableBtns {
    font-family: "Inter";
    font-weight: bold;
}

.editBtn {
    background-color: #1FA9D7;
    text-decoration: none;
    border:none;
    color: white;
    padding: 0.5em 1em;
    font-weight: bold;
    font-size: 1em;
    border-radius: 10em;
}

.editBtn:hover {
    cursor: pointer;
}  

.activated { 
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    background-color: #4CBB17;
    border:none;
    font-family: "Inter";
    font-weight: bold;
    color: white;
    padding: 0.5em 1em;
    border-radius: 10em;
    font-size: 1em;
    margin-left: 1em;
}

.deactivated {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    background-color: #D44837;
    border:none;
    font-family: "Inter";
    font-weight: bold;
    color: white;
    padding: 0.5em 1em;
    border-radius: 10em;
    font-size: 1em;
    margin-left: 1em;
}

.management {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    margin-bottom: 2em;
}

.manageHead { 
    padding: 1em 0;
    font-family: "Inter";
    font-weight: bold; 
    align-self: flex-start; 
    border-bottom: 1px solid grey; 
    width: 100%;
}

.manageDiv {
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 45%;
}

.li {
    font-family: "Montserrat-Regular";
    margin-bottom: 1.5em;
}

.addressDropdown { 
    background-color: #eeeded;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;  
    text-decoration: underline;
    user-select: none; 
    padding: 0.3em;
    font-style: italic;
    border-bottom: 2px solid #D9D9D9;
}

.dropDownRow {
    position: relative;
    display: block;
    background-color: wheat;
    width: 100%;
}

.dropdown {
    background-color: #e5e5e5;
    display: inline-block;
}
