html,
body {
  overflow-x: hidden; /* Prevent horizontal scroll */
  width: 100%;
  margin: 0;
  padding: 0;
}

.brand {
  text-align: center;
  margin-top: 25%;
  margin-bottom: 25%;
  font-size: 3.2em;
  color: #ffffff;
  font-family: "Felgine";
  font-weight: lighter;
  src: local("Felgine"), url(../fonts/Felgine-Regular.otf) format("opentype");
}

.subtitle {
  text-align: end;
  padding-right: 4em;
  font-size: 1.2em;
  color: #ffffff;
  font-family: "Noto-Serif-TC";
}

.homeContainer {
  position: absolute;
  top: 30px;
  right: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: grey;
  cursor: pointer;
}

.homeIcon {
  font-size: 24px;
  color: grey
}

.homeText {
  font-size: 16px;
  color: grey;
  text-decoration: none;
}

.pageContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: #ffffff;
}

.brandContainer {
  flex: 30%;
  background-color: #28A197;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1%;
}

.formContainer {
  flex: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.title {
  font-size: 46px;
  color: #28A197;
  font-family: "Felgine";
  src: local("Felgine"), url(../fonts/Felgine-Regular.otf) format("opentype");
  margin-bottom: 30px;
}

/* Form Styles */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.inputContainer {
  position: relative;
  width: 60%;
  margin-bottom: 2em;
}

.inputField {
  width: 100%;
  height: 42px;
  padding: 10px;
  padding-right: 40px;
  font-size: 16px;
  border: 1px solid grey;
  box-sizing: border-box;
}

.inputField::placeholder {
  font-family: "Noto-Serif-TC";
}

.eyeIcon {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  cursor: pointer;
  color: grey;
  font-size: 20px;
}

.checkboxContainer {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-bottom: 20px;
  margin-top: -10px;
  font-family: "Noto-Serif-TC";
  color: grey;
}

.anchor {
  color: #28A197;
}

.anchor:visited {
  color: #28A197;
}

.anchor:hover {
  color: #28A197;
}

.anchor:active {
  color: #1c6962;
}

.submitButton {
  width: 60%;
  height: 40px;
  font-size: 16px;
  background-color: #28A197;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  font-family: "Montserrat-Regular";
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  width: 45%;
  color: grey;
  font-family: "Montserrat-Regular";
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid grey;
  width: 45%;
  margin-top: 1%;
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}

.googleButton {
  width: 60%;
  height: 40px;
  font-size: 16px;
  color: grey;
  background-color: #ffffff;
  border: 1px solid grey;
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-family: "Montserrat-Regular";
}

.googleIcon {
  font-size: 20px;
}

/* Forget password page */
.forgetPasswordTitle {
  font-size: 36px;
  color: #28A197;
  font-family: "Felgine";
}

.closeIcon {
  font-size: 24px;
  color: #28A197;
  cursor: pointer;
}

.forgetPasswordButton {
  height: 40px;
  font-size: 16px;
  background-color: #28A197;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  font-family: "Montserrat-Regular";
}

.forgetPasswordTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-family: "Noto-Serif-TC";
}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.popupContent {
  background: #ffffff;
  padding: 20px;
  border-radius: 5px;
  width: 40%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popupContent h2 {
  margin-top: 0;
}

.popupContent form {
  display: flex;
  flex-direction: column;
}

.popupContent label {
  margin-bottom: 5px;
}

.popupContent input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.popupContent button[type="button"] {
  background-color: #6c757d;
  color: #ffffff;
}

/* For tablet screens */
@media (max-width: 1024px) {
  .brand {
    margin-left: 4vw;
    margin-right: 4vw;
  }
  .subtitle {
    font-size: 2.3vw;
    padding-right: 4vw;
  }
  .homeContainer {
    top: 5vh;
    right: 7vw;
  }
  .title {
    font-size: 5vw;
  }
  .inputContainer,
  .googleButton,
  .submitButton,
  .checkboxContainer {
      width: 80%;
  }
  .inputField,
  .googleButton,
  .submitButton {
    height: 4vh; 
  }
  .separator {
    width: 80%;
  }
  .popupContent {
    width: 60%
  }
  .forgetPasswordTitle {
    font-size: 5.5vw;
    margin-bottom: 1vh;
    margin-top: 3vh;
  }
  .closeIcon {
    font-size: 4vw;
  }
  .forgetPasswordButton {
    height: 4vh;
    margin-top: 1vh;
  }
}

/* For smaller tablet screens */
@media (max-width: 768px) {
  .title {
    font-size: 6vw;
    margin-top: 10vh;
    margin-bottom: 7vh;
  }
  .subtitle {
    text-align: right;
    padding-right: 5vw;
    font-size: 3.5vw;
  }
  .pageContainer {
    flex-direction: column;
  }
  .brand {
    font-size: 8vw;
    margin-top: 15%;
    margin-bottom: 3%;
  }
  .homeContainer {
    top: 5vw;
    right: 5vw;
  }
  .formContainer {
    flex: 100%;
    padding: 2vw;
    margin-bottom: 15vh;
  }
  .inputContainer,
  .googleButton,
  .submitButton{
    width: 80vw;
  }
  .checkboxContainer {
    width: 80vw;
  }
  .inputField,
  .googleButton,
  .submitButton,
  .forgetPasswordButton {
    height: 7vh; 
  }
  .separator {
    width: 83%;
  }
  .popupContent {
    width: 65%
  }
  .forgetPasswordTitle {
    font-size: 6vw;
    margin-bottom: 1vh;
    margin-top: 3vh;
  }
  .closeIcon {
    font-size: 4vw;
  }
  .forgetPasswordButton {
    height: 7vh;
    margin-top: 1vh;
  }
}

/* For mobile screens */
@media (max-width: 480px) {
  .brand {
    margin-top: 20%;
    margin-bottom: 6%;
    font-size: 8.5vw;
  }
  .title {
    font-size: 8vw;
    margin-top: 8vh;
    margin-bottom: 5vh;
  }
  .subtitle {
    font-size: 4.5vw;
    padding-right: 6vw;
  }
  .formContainer {
    margin-bottom: 10vh;
  }
  .homeContainer {
    top: 3vh;
    right: 5vw;
    gap: 4px;
  }
  .homeText {
    font-size: 14px;
    margin-top: -0.5vh;
  }
  .homeIcon {
    font-size: 20px;
  }
  .inputContainer,
  .googleButton,
  .submitButton {
    width: 85vw;
    height: 12vw;
  }
  .checkboxContainer {
    width: 85vw;
  }
  .inputField {
    height: 6vh;
  }
  .forgetPasswordButton {
    height: 6vh;
  }
  .separator {
    width: 88%;
  }
  .popupContent {
    width: 60%
  }
  .forgetPasswordTitle {
    font-size: 8vw;
  }
  .closeIcon {
    font-size: 8vw;
  }
}

/* For extra small mobile screens */
@media (max-width: 412px) {
  .eyeIcon {
    top: 60%;
    transform: translateY(-50%);
  }
}