@font-face {
    font-family: "Montserrat-Regular";
    src: local("Montserrat-Regular"), url(../fonts/Montserrat-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Felgine";
    src: local("Felgine"), url(../fonts/Felgine-Regular.otf) format("opentype");
}