@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat-Regular"),
    url(../fonts/Montserrat-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Montserrat-Bold";
    src: local("Montserrat-Bold"), url(../fonts/Montserrat-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat-Light";
    src: local("Montserrat-Light"), url(../fonts/Montserrat-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url(../fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
    font-weight: 100 900;
}

@font-face {
    font-family: "Felgine";
    src: local("Felgine"), url(../fonts/Felgine-Regular.otf) format("opentype");
}

@font-face {
    font-family: "Noto Serif TC";
    src: local("Noto Serif TC"), url(../fonts/NotoSerifTC-VariableFont_wght.ttf) format("truetype");
}

@font-face {
    font-family: "IBMPlexSerif-Light";
    src: local("IBMPlexSerif-Light"), url(../fonts/IBMPlexSerif-Light.ttf) format("truetype");
}