.footer {
  display: flex;
  background-color: #28A197;
  flex-direction: row;
  font-family: "Montserrat-Regular";
  color: #ffffff;
  justify-content: space-around;
  padding:1em 0;
  width: 100%;
  margin-top: 0.3em;
  bottom: 0
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

li {
    display: flex;
    list-style-type: none; 
    font-size: 0.8em;
    align-items: center;
}

.listHeader {
    font-family: "Montserrat-SemiBold";
    font-size: 1em;
}

.brand {
    color: #ffffff;
    font-family: "Noto Serif TC";
    font-weight: 700;
    font-size: 1.3em;
}

.copyright {
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.support {
    white-space: nowrap;
    line-height: 1.8;
}

.contact {
    line-height: 1.8;
}

.icons {
    margin-right: 2px;
}

@media (max-width: 600px) {
    .footer {
        font-size: 0.3em;
    }
}

@media (min-width: 600px) and (max-width: 960px) {
    .footer {
        font-size: 0.7em;
    }
}