/* src/components/Header.module.css */

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: transparent;
  font-family: "felgine";
}

.brand {
  font-size: 2em;
  color: white;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  color: white;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav a:hover {
  text-decoration: underline;
}
