/* styles.module.css */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.introBG {
    background-color: black;
    position: absolute;
    width: 40%;
    height: 18vw;
    opacity: 35%;
    margin-left: 4em;
    margin-top: 4em;
}

.intro {
    display: flex;
    flex-direction: column;
    position: absolute;
    color: White;
    background-color: transparent;      
    width: 30%;
    letter-spacing: 0.1vw;
    margin-left: 4.5em;
    margin-top: 5em;
}

.introText {
    line-height: 0.5em;
    font-size: 3vw;
    font-family: "Felgine";
    margin: -3% 0;
}

.introBrand {
    line-height: 0.5em;
    font-size: 3vw;
    font-family: "Felgine";
    color: #E7E0D5;
}

.introDesc {
    line-height: 1.7em;
    font-family: "Noto Serif TC";
    font-size: 1.5vw;
    margin: -3% 0;
}

.banner {
    padding: 0.5vw 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    text-align: left;
}

.images {
    display: flex;
}

.leftImg {
    width: 60vw;
}

.rightImg {
    width: 40vw;
}

.booking {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: #1C2D5B;
    background-color: #C7E1D4;
    align-items: center;
    width: 100vw;
    padding: 1em 0;
}

.bookHead {
    font-family: "Felgine";
    line-height: 1.5em;
    font-size: 2em;
    padding-bottom: 0.5em;
    margin: 0
}

.bookDesc {
    font-family: "Montserrat-Regular";
    line-height: 1.5em;
    font-size: 0.8em;
    margin-top: -0.5em;
}

.bookingButton {
    background-color: #1C2D5B;
    font-family: "Felgine";
    font-size: 1em;
    color: white;
    padding: 0.6em 0.5em;
    min-width: 7em;
    border: none;
}

.fabrication {
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
}

.fabHead {
    font-family: "Felgine";
    color: #1C2D5B;
    font-size: 2.2em;
}

.fabSubHead {
    font-family: "IBMPlexSerif-Light";
    color: #1C2D5B;
    font-size: 1.3em;
    margin-top: -2em;
}

.fabBtn {
    display: flex;
    justify-content: space-around;
    padding: 2em 0; 
    width: 50em;
}

.fabricationButton {
    background-color: #1C2D5B;
    font-family: "Felgine";
    font-size: 1em;
    color: white;
    padding: 0.9em 3em;
    border: none;
    text-align: center;
    text-decoration: none;
}

/* 
@media (min-width: 768px) {
    .main {
        flex-direction: column;
        justify-content: space-between;
    }
    .images {
        flex-direction: row;
        justify-content: space-between;
    }
    .intro {
        max-width: none;
        flex: 1;
    }
    .images img {
        flex: 1;
    }
} */
