.main {
    background-color: #f5f5f5;
}

.backContainer {
    display: flex;
    margin: 0 2.5% 2.5% 2.5%;
    padding-top: 2.5%;
}

.backArrow {
    font-size: 2vw;
    color: #28A197;
    display: flex;
    align-items: center;
}

.backLink {
    font-family: "Noto Serif TC";
    font-weight: 600;
    font-size: 1.2vw;
    color: #28A197;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    padding: 0 10%;
    padding-bottom: 8vh;
}

.imageContainer {
    display: flex;
    flex-direction: row;
}

.thumbnailContainer {
    display: flex;
    gap: 1.4vh;
    flex-direction: column;
    margin-right: 20px;
    width: 5.62vw;
}

.thumbnail {
    cursor: pointer;
}

.thumbnailImage {
    width: 100%;
    aspect-ratio: 2.1/2.93;
    object-fit: cover;
}

.itemImage {
    width: 30vw;
    aspect-ratio: 2.1/3;
    height: auto;
    margin-bottom: 10px;
    object-fit: cover;
}

.contents {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
}

.itemName {
    font-family: "Noto Serif TC";
    font-weight: bold;
    font-size: 2.2vw;
    margin-bottom: 0;
}

.itemPrice {
    font-family: "Noto Serif TC";
    font-weight: bold;
    font-size: 2.1vw;
    color: grey;
    margin: 1vh 0;
}

.separator {
    height: 1.5px;
    background-color: grey;
    margin: 1vh 0;
}

.colorSelector {
    font-family: "Montserrat";
    font-size: 1vw;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 1.5vh;
    flex-wrap: wrap; /* Allow wrapping if there are too many colors */
}

.colorOption {
    padding: 10px 15px;
    border: 1px solid grey;
    border-radius: 10px;
    cursor: pointer;
    padding: 1% 3%;
    transition: background-color 0.3s, color 0.3s;
}

.colorOption:hover {
    background-color: #f0f0f0;
    color: #28A197;
    border-color: #28A197;
}

.selected {
    background-color: #28A197;
    color: white;
    border-color: #28A197;
}

.sizeLabel {
    font-family: "Montserrat";
    font-size: 1vw;
}

.selectWrapper {
    position: relative;
    width: 100%;
}
    
.selectSize {
    font-family: "Montserrat";
    width: 100%;
    padding: 10px 10px;
    font-size: 1vw;
    box-sizing: border-box;
    appearance: none;   /* Remove default arrow */
    border: 1px solid grey;
    border-radius: 3px;
}
    
.selectWrapper::after {
    content: '▼';   /* Custom arrow */
    font-size: 1vw;
    position: absolute;
    top: 45%;
    right: 12px;
    transform: translateY(-50%);
    color: grey;
    pointer-events: none;   /* Prevents arrow from interfering with clicks */
}

.addItem {
    width: 100%;
    background-color: #28A197;
    color: white;
    font-family: "Montserrat";
    font-size: 1vw;
    font-weight: 600;
    padding: 11px 10px;
    border-radius: 3px;
    margin-top: 3vh;
    border: none;
}

.descriptionLabel {
    font-family: "Montserrat";
    font-size: 1vw;
    margin-top: 5vh;
}

.itemDetail {
    font-family: "Montserrat";
    color: grey;
    line-height: 1.6;
    font-size: 1vw;
}

/* For tablet screens */
@media (max-width: 1024px) {
    .backArrow {
        font-size: 2.8vw;
    }
    .backLink {
        font-size: 2vw;
    }
    .mainContainer {
        flex-direction: column;
        padding: 0 13%;
    }
    .imageContainer {
        margin-left: 4vw;
    }
    .thumbnailContainer {
        gap: 0.4vh;
        width: 8.7vw;
    }
    .itemImage {
        width: 45vw;
    }
    .itemName {
        font-size: 3vw;
    }
    .itemPrice {
        font-size: 2.5vw;
        margin: 1vh 0 0.5vh 0;
    }
    .colorSelector {
        font-size: 2vw;
    }
    .colorOption:hover {
        background-color: #1C2D5B;
        color: white;
        border-color: #1C2D5B;
    }
    .sizeLabel {
        font-size: 2vw;
    }
    .selectSize {
        font-size: 1.8vw;
    }
    .selectWrapper::after {
        font-size: 1.8vw;
    }
    .addItem {
        font-size: 1.8vw;
        margin-top: 2vh;
    }
    .descriptionLabel {
        font-size: 2vw;
        margin-top: 3vh;
    }
    .itemDetail {
        font-family: "Montserrat";
        color: grey;
        line-height: 1.6;
        font-size: 2vw;
        margin-bottom: 6vh;
    }
}

/* For smaller tablet screens */
@media (max-width: 768px) {
    .mainContainer {
        padding: 0 10%;
    }
    .thumbnailContainer {
        width: 9.7vw;
    }
    .itemImage {
        width: 50vw;
    }
}

/* For all mobile screens */
@media (max-width: 480px) {
    .backContainer {
        margin: 4% 5%;
    }
    .backArrow {
        font-size: 4.8vw;
    }
    .backLink {
        font-size: 3.4vw;
    }
    .mainContainer {
        padding: 0 5%;
    }
    .thumbnailContainer {
        width: 11.3vw;
        margin-right: 10px;
    }
    .itemImage {
        width: 60vw;
    }
    .itemName {
        font-size: 4.5vw;
    }
    .itemPrice {
        font-size: 4vw;
        margin: 1vh 0 0.5vh 0;
    }
    .colorSelector {
        font-size: 3.2vw;
    }
    .sizeLabel {
        font-size: 3.2vw;
    }
    .selectSize {
        font-size: 3vw;
    }
    .selectWrapper::after {
        font-size: 2.5vw;
    }
    .addItem {
        font-size: 3vw;
    }
    .descriptionLabel {
        font-size: 3.2vw;
        margin-top: 3vh;
    }
    .itemDetail {
        line-height: 1.6;
        font-size: 3.2vw;
        margin-bottom: 4.5vh;
    }
}