.navbar{ 
    background-color: #C7E1D4; 
    padding: 2%; 
    padding-left: 7%;
    padding-right: 7%;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    column-gap: 9%;
}
.logo { 
    margin-top: 2px;
    flex: 0.2;
    font-family: "Felgine";
    font-size:1.6vw;
}
.links-div { 
    color: #1C2D5B;
    flex: 0.4;
    justify-content: space-evenly;
    display: flex;
    font-family:"Montserrat-Bold";
    font-size: 1.1vw;
}   

.login-div { 
    color: #1C2D5B;
    font-family: "Montserrat-Bold";
    display:flex;
    flex: 0.3;
    justify-content: space-around;
    flex-direction: row;
    font-size: 1.1vw;
}