/* Navbar.module.css */

.navbar { 
    background-color: #C7E1D4; 
    padding: 2%; 
    justify-content: space-around;
    display: flex;
    align-items: center;
    column-gap: 9%;
}

.darkenDiv {
    right: 0;
    position:absolute;
    width: 100vw;
    height: 100em;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    opacity: 0;
    width: 0;
}

.sideNav {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #C1E2D2;
    height: 50em;
    z-index:2;
    display: flex;
    flex-direction: column;
    opacity: 0;
    width: 0;
    transition: all 0.25s ease;
}

.sideNavHead {
    padding: 0.5em 2em;
    font-size: 1.5em;
    font-family: "Felgine";
    color: #1C2D5B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.2em solid white;
}

.sideNavLinks {
    display:flex;
    flex-direction: column;
    gap: 3em;
    text-align: left;
    padding: 2em 3em;
    font-family: "Montserrat";
    border-bottom: 0.2em solid white;
}

.shopLink { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 1.3em;
}

.shopDiv { 
    display: flex;
    flex-direction: column;
}


.shopDiv div {
    padding-top: 0.25em;
}


.shopMenu { 
    opacity: 0;
    display: flex;
    height: 0;
    background-color: #EDEDED;
    white-space: nowrap; 
    font-size: 1em;
    font-family: "Montserrat";
    justify-content: space-around;
    transition: all 0.25s ease;
}

.shopLightLink {
    color: #1C2D5B;
    text-decoration: none;
    user-select: none;
    width: fit-content;
    font-family: "Montserrat-Light";
    font-size: 0.8em;
}


.logo { 
    flex: 0.2;
    font-family: "Felgine";
    font-size: 1.4em;
    white-space: nowrap;
    user-select: none;
}

.linksDiv { 
    color: #1C2D5B;
    flex: 0.4;
    justify-content: space-around;
    display: flex;
    font-family: "Montserrat-Bold";
    font-size: 0.9em;
    gap: 1em;
}   

.link {
    color: #1C2D5B;
    text-decoration: none;
    user-select: none;
    width: fit-content;
}


.linkActive {
    flex-direction: column;
    display: flex;
    justify-content: center;
}

/* Custom underline for link */
.linkActive::after {
    color: black;
    content: "";
    width: 2.6em;     
    height: 0.1em;
    background-color: black;
    align-self: center;
}

.sideDiv { 
    color: #1C2D5B;
    font-family: "Montserrat-Bold";
    display: flex;
    flex: 0.3;
    justify-content: space-around;
    flex-direction: row;
    font-size: 0.9em;
    gap: 1em;
}

.loginLink {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.loginLink:visited {
    color: inherit;
}

.icons { 
    display: flex;
    align-items: center;
    font-size: 1.4em;
    background-color: none;
}

.icons:hover {
    cursor: pointer;
}

.loginText { 
    position: relative; 
    margin-left: 0.5em;
    text-align: center;
    white-space: nowrap;
    user-select: none;
}

.loginText:hover {
    text-decoration: underline;
    cursor: pointer;
}

.colNavbar { 
    display: none;
}

.btmPad {
    width: 100%;
    background-color: white;
    height: 0.3em;
}


.sideNavToggle:hover {
    cursor: pointer;
}


@media (max-width: 600px) {
    .navbar {
        justify-content: space-around;
    }
    .logo { 
        font-size: 0.9em;
    }
    .linksDiv {
        display: none;
        background-color: wheat;
    }
    .loginDiv {
        flex: 0.5;
        justify-content: space-evenly;
        gap: 0.5em;
    }
    .loginText {
        display: none;
    }
    .colNavbar {
        display: flex;
    }
    .icons {
        font-size: 1.2em;
    }
}

@media (min-width: 600px) and (max-width: 960px) {
    .logo { 
        font-size: 1.5em;
    }
    .linksDiv {
        font-size: 0em;
    }
    .loginDiv {
        flex: 0.5;
        justify-content: space-evenly;
        gap: 1.5em;
    }
    .loginText {
        display: none;
    }
    .colNavbar {
        display: flex;
    }
    .icons {
        font-size: 1.5em;
    }
}
