.navbar{ 
    background-color: #C7E1D4; 
    padding: 2%; 
    padding-left: 7%;
    padding-right: 7%;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    column-gap: 9%;
}
.logo { 
    margin-top: 2px;
    flex: 0.2;
    font-family: "Felgine";
    font-size:1.4em;
    white-space: nowrap;
}

.links-div { 
    color: #1C2D5B;
    flex: 0.4;
    justify-content: space-evenly;
    display: flex;
    font-family:"Montserrat-Bold";
    font-size: 0.9em;
}   

.link {
    color: #1C2D5B;
    text-decoration: none;
}

.link.active {
    flex-direction: column;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* Custom underline for link */
.link.active::after {
    color: black;
    content: "";
    width: 90%;     
    height: 0.1em;
    background-color: black;
}


.login-div { 
    color: #1C2D5B;
    font-family: "Montserrat-Bold";
    display:flex;
    flex: 0.3;
    justify-content: space-around;
    flex-direction: row;
    font-size: 1.1vw;
}

.icons {
    display: flex;
    align-items: center;
    font-size: 1vw;
}

.login-text { 
    position: "relative"; 
    margin-left: 0.5em;
    text-align: center;
}

.col-navbar {
    display: none;
}

@media (max-width: 600px) {
    .logo { 
        font-size:0.8em;
    }
    .links-div {
        font-size: 0em;
    }
    .login-div {
        flex: 0.5;
        justify-content: space-evenly;
    }
    .login-text {
        display: none;
    }
    .col-navbar {
        display: flex;
    }
    .icons {
        font-size: 2em;
    }
    
}

@media (min-width: 600px) and (max-width: 960px) {
    .logo { 
        font-size:0.8em;
    }
    .links-div {
        font-size: 0em;
    }
    .login-div {
        flex: 0.5;
        justify-content: space-evenly;
    }
    .login-text {
        display: none;
    }
    .col-navbar {
        display: flex;
    }
    .icons {
        font-size: 2em;
    }
    
}