.container{
    padding: 1em 2em;
    width: 100%;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.label {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-bottom: 1%;
}

.input {
    width: 23%;
    padding: 0.5em;
}

.textArea {
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    height: 3em;
    padding: 0.5em;
    resize: none;
}

.textArea:focus {
    height: 6em;
    width: 35%
}

/* .inputLong {
    position: relative;
    transition: height 0.3s ease transform 0.3s ease;
} */

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 1em;
}

.dropDown {
    width: 25%;
    height: 2em;
}

.submit {
    background-color: #59B859;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 0.5em; 
    width: 10%;
    cursor: pointer;
}

.submit:hover {
    box-shadow: 1px 1px grey;
}

.th {
    text-align: left;
    padding: 0.5em;
    font-family: "Inter";
    font-weight: 600;
    border-bottom: 0.5px solid #D9D9D9;
}

.td {
    padding: 0.5em;
}

.tableTextArea {
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    height: 0.8em;
    padding: 0.5em;
    resize: none;
    overflow: hidden;
}

.tableTextArea:focus {
    height: 5em;
    width: 12em;
    overflow: auto;
}

.addProduct {
    color: #1bafff;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.addProduct:hover {
    text-decoration: underline;
}


.removeBtn {
    background-color: #DB534E;
    border: none;
    color: white;
    padding: 0.5em 1em;
    border-radius: 3px;
    cursor:pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

