.directoryContainer {
    background-color: #28A197;
    padding: 3em 0;
    padding-left: 8%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.currentPage {
    font-size: 2.2em;
    color: #ffffff;
    font-family: "Noto Serif TC";
    font-weight: bold;
    margin: 1vh;
}

.navLinks {
    padding-left: 2%;
    margin-top: 0.7%;
}

.directoryLink {
    font-family: "Noto Serif TC";
    font-weight: light;
    text-decoration: none;
    color: #dddddd;
}

.currentLink {
    font-family: "Noto Serif TC";
    font-weight: light;
    text-decoration: none;
    color: #ffffff;
}

.categoriesContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns per row */
    gap: 20px; /* Consistent horizontal and vertical gaps */
    padding: 40px;
    box-sizing: border-box;
}

.categoryItem {
    background-color: #28A197;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: 0.3s;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 8.5vh;
    text-decoration: none;
    color: #ffffff;
}

.categoryImageWrapper {
    width: 100%;
    position: relative;
    padding-top: 120%; /* Aspect ratio of 3:2 */
    overflow: hidden;
}

.categoryImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.categoryName {
    font-family: "Noto Serif TC";
    font-size: 2vw;
    font-weight: bold;
    padding: 2.5vh 23px 1.5vh 23px;
    margin: 0;
}

.categoryDetail {
    font-family: "Montserrat";
    font-size: 1.25vw;
    color: #ffffff;
    padding: 1.5vh 23px;
    margin: 0 0 10px 0;
}

.categoryPrice {
    font-family: "Noto Serif TC";
    font-weight: bold;
    font-size: 1.65vw;
    color: #ffffff;
    text-align: end;
    padding-right: 23px;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* For tablet screens */
@media (max-width: 1024px) {
    .categoryItem {
        padding-bottom: 3vh;
    }
    .categoryName {
        font-size: 2.3vw;
        padding: 1.2vh 15px 1vh 15px;
    }
    .categoryDetail {
        font-size: 1.45vw;
        padding: 1vh 15px 1.2vh 15px;
        margin: 0 0 10px 0;
    }
    .categoryPrice {
        font-size: 1.85vw;
    }
}

/* For smaller tablet screens */
@media (max-width: 768px) {
    .categoriesContainer {
        grid-template-columns: repeat(2, 1fr); /* 2 columns per row */
    }
    .categoryItem {
        padding-bottom: 3vh;
    }
    .categoryName {
        font-size: 3vw;
    }
    .categoryDetail {
        font-size: 2vw;
        margin: 0 0 20px 0;
    }
    .categoryPrice {
        font-size: 2.5vw;
    }
}

/* For mobile screens */
@media (max-width: 480px) {
    .categoriesContainer {
        padding: 25px;
    }
    .categoryItem {
        padding-bottom: 1vh;
    }
    .categoryName {
        font-size: 2.8vw;
        padding: 1.2vh 15px 0.5vh 15px;
    }
    .categoryDetail {
        font-size: 2vw;
        margin: 0 0 15px 0;
    }
    .categoryPrice {
        font-size: 2.7vw;
    }
}

/* For extra small mobile screens */
@media (max-width: 412px) {
    .categoriesContainer {
        padding: 20px;
    }
    .categoryItem {
        padding-bottom: 1vh;
    }
    .categoryName {
        font-size: 3vw;
        padding: 1.6vh 15px 0.5vh 15px;
    }
    .categoryDetail {
        font-size: 2vw;
        margin: 0 0 15px 0;
    }
}