html,
body {
  overflow-x: hidden; /* Prevent horizontal scroll */
  width: 100%;
  margin: 0;
  padding: 0;
}

.directoryContainer {
    background-color: #28A197;
    padding: 3em 0;
    padding-left: 8%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.currentPage {
    font-size: 2.2em;
    color: #ffffff;
    font-family: "Noto Serif TC";
    font-weight: bold;
    margin: 1vh;
}

.navLinks {
    padding-left: 2%;
    margin-top: 0.7%;
}

.directoryLink {
    font-family: "Noto Serif TC";
    font-weight: light;
    text-decoration: none;
    color: #dddddd;
}

.currentLink {
    font-family: "Noto Serif TC";
    font-weight: light;
    text-decoration: none;
    color: #ffffff;
}

.pageTitle {
    font-size: 2.2em;
    font-family: "Noto Serif TC";
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 0.3em;
    text-decoration-thickness: 1.4px;
    margin-bottom: 4vh;
    margin-top: 7vh;
}

.categoriesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 4em;
    padding: 0 2em;
    margin-bottom: 5%;
}

.categoryItem {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    flex: 1 1 calc(33.333% - 4em); /* 3 columns per row */
    box-sizing: border-box;
    margin-bottom: 1em;
    display: flex;
}

.imageOverlay {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 150%; /* 2:3 aspect ratio */
}

.categoryImage {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
    transition: filter 0.3s ease;
}

.categoryImage.darken {
    filter: brightness(60%);
}

.categoryName {
    position: absolute;
    bottom: 1%;
    left: 5%;
    font-family: "Noto Serif TC";
    font-weight: bold;
    font-size: 2.2em;
    color: white;
    text-shadow: 2px 2px 8px #000000;
    z-index: 1;
    transition: opacity 0.3s ease;
}

.companyList {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 52%;
    top: 10%;
    bottom: 10%;
    transform: translateX(-50%); /* Only translate on X-axis */
    color: white;
    font-family: "Noto Serif TC";
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 2px 2px 8px #000000;
    z-index: 1;
    max-height: 90%;
    overflow-y: auto;
    width: 90%;
    box-sizing: border-box;
    display: none;
    vertical-align: middle;
}

.categoryItem:hover .categoryImage {
    filter: brightness(60%);
}

.categoryItem:hover .companyList {
    display: flex;
    justify-content: flex-start; /* Start list from top */
}

.categoryItem:hover .categoryName {
    visibility: hidden;
}

.companyItem {
    margin: 5px 0;
    cursor: pointer;
}

.companyItem:hover {
    text-decoration: underline;
}

.companyList {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.companyList::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

/* For tablet screens */
@media (max-width: 1024px) {
    .pageTitle {
        margin-bottom: 3vh;
        margin-top: 4vh;
    }

    .categoriesContainer {
        gap: 2em;
    }
    
    .categoryItem {
        flex: 1 1 calc(33.333% - 2em);
        margin-bottom: 1em;
    }

    .categoryName {
        font-size: 1.9em;
        bottom: -2%;
    }

    .companyList {
        font-size: 1.1em;
        bottom: 15%;
    }
}

/* For smaller tablet screens */
@media (max-width: 768px) {
    .categoryItem {
        flex: 1 1 calc(50% - 1em);
    }

    .categoryName {
        font-size: 5vw;
        bottom: -1%;
    }

    .companyList {
        font-size: 1em;
        bottom: 20%;
    }
}

/* For mobile screens */
@media (max-width: 480px) {
    .pageTitle {
        font-size: 2em;
    }

    .categoryName {
        bottom: -3%;
        left: 6%;
    }

    .companyList {
        font-size: 0.9em;
        bottom: 25%;
    }

    .categoryItem {
        flex: 1 1 calc(50% - 2em);
        margin-bottom: 0em;
    }

    .categoriesContainer {
        gap: 1em;
    }
}

/* For extra small mobile screens */
@media (max-width: 412px) {
    .categoryName {
        font-size: 1.3em;
        bottom: 0%;
    }

    .companyList {
        font-size: 0.8em;
        bottom: 30%;
    }
}

@media (max-width: 376px) {
    .categoryName {
        font-size: 1.1em;
        bottom: 0%
    }
}