html, body {
    overflow-x: hidden; /* Prevent horizontal scroll */
    width: 100%;
    margin: 0;
    padding: 0;
  }  

.brand {
    text-align: center;
    margin-top: 25%;
    margin-bottom: 25%;
    font-size: 3.2em;
    color: #1C2D5B;
    font-family: 'Felgine';
    font-weight: lighter;
    src: local('Felgine'), url(../fonts/Felgine-Regular.otf) format('opentype');
}

.subtitle {
    text-align: end;
    padding-right: 4em;
    font-size: 1.2em;
    color: #1C2D5B;
    font-family: 'Noto-Serif-TC';
}

.homeContainer {
    position: absolute;
    top: 20px;
    right: 35px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: grey;
    cursor: pointer;
    z-index: 10;
}

.homeIcon {
    font-size: 24px;
}

.homeText {
    font-size: 16px;
}


.pageContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background-color: #FFFFFF;
}

.brandContainer {
    flex: 30%;
    background-color: #C7E1D4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
}

.formContainer {
    flex: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.title {
    font-size: 46px;
    color: #1C2D5B;
    font-family: 'Felgine';
    src: local('Felgine'), url(../fonts/Felgine-Regular.otf) format('opentype');
    margin-bottom: 30px;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.inputContainer {
    position: relative;
    width: 60%;
    margin-bottom: 2em;
}

.inputField {
    width: 100%;
    height: 42px;
    padding: 10px;
    padding-right: 40px;
    font-size: 16px;
    border: 1px solid grey;
    box-sizing: border-box;
}

.inputField::placeholder {
    font-family: 'Noto-Serif-TC';
}

.icon {
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    cursor: pointer;
    color: grey;
    font-size: 20px;
}

.checkboxContainer {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 20px;
    margin-top: -10px;
    font-family: 'Noto-Serif-TC';
    color: grey;
}

a {
    color: #1C2D5B;
  }
  
  a:visited {
    color: #1C2D5B;
  }
  
  a:hover {
    color: #1C2D5B;
  }
  
  a:active {
    color: grey;
  }

.submitButton {
    width: 60%;
    height: 40px;
    font-size: 16px;
    background-color: #1C2D5B;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    width: 45%;
    color: grey;
}
  
.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid grey;
    width: 45%;
    margin-top: 1%;
}
  
.separator:not(:empty)::before {
    margin-right: .25em;
}
  
.separator:not(:empty)::after {
    margin-left: .25em;
}

.googleButton {
    width: 60%;
    height: 40px;
    font-size: 16px;
    color: grey;
    background-color: #FFFFFF;
    border: 1px solid grey;
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.googleIcon {
    font-size: 20px;
}

/*---------------------- Media Queries ----------------------*/

/* For tablets and smaller screens */
@media (max-width: 768px) {
    .title {
        font-size: 6vw;
        margin-top: 10vh;
        margin-bottom: 7vh;
    }

    .subtitle {
        text-align: center;
        padding-right: 2vw;
        font-size: 4vw;
    }

    .pageContainer {
        flex-direction: column;
    }

    .brandContainer {
        flex: 100%;
        padding: 2vw;
    }

    .homeContainer {
        top: 10px;
        right: 10px;
    }

    .formContainer {
        flex: 100%;
        padding: 2vw;
    }

    .inputContainer,
    .googleButton,
    .submitButton,
    .checkboxContainer {
        width: 80vw;
    }

    .inputField {
        height: 8vh;
    }

    .googleButton,
    .submitButton {
        height: 8vh;
    }
}

/* For mobile screens */
@media (max-width: 480px) {
    .title {
        font-size: 7vw;
        margin-top: 10vh;
        margin-bottom: 5vh;
    }

    .subtitle {
        font-size: 5vw;
    }

    .formContainer {
        padding: 2vw;
    }

    .homeContainer {
        top: 15px;
        right: 15px;
        gap: 4px;
    }

    .homeText {
        font-size: 14px;
    }

    .homeIcon {
        font-size: 20px;
    }

    .inputContainer,
    .googleButton,
    .submitButton {
        width: 85vw;
        height: 12vw;
    }

    .inputField {
        height: 6vh;
    }

    button {
        height: 6vh;
    }
}
